<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Uo</title>
</head>


<body>

<form action="/signup" method="post">
    <label for="username">User Name:  <input type="text" name="username" id="username"> </label>
    <br>
    <label for="password">Password:  <input type="password" name="password" id="password"> </label>
    <br>
    <label for="firstname">First Name:  <input type="text" name="firstname" id="firstname"> </label>
    <br>
    <label for="lastname">Last Name:  <input type="text" name="lastname" id="lastname"> </label>
    <br>
    <label for="dob">Birth Day:  <input type="text" name="dob" id="dob"> </label>
    <br>
    <label for="bio">Gender:  <input type="text" name="bio" id="bio"> </label>
    <br>
    <button type="submit">Register</button>
</form>



</body>
</html>